<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medical_application">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".paramedic"></activity>
        <activity
            android:name=".profile_edit"
            android:label=" "
            android:theme="@style/signup_theme" />
        <activity
            android:name=".MainActivity"
            android:label="الصفحة الرئيسية"
            android:theme="@style/first_aid" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".nearst_center"
            android:label="اقرب مركز صحي" />
        <activity
            android:name=".sign_up"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".drowning"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".login_screen"
            android:theme="@style/sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bloodbank_recycle"
            android:label="بنك الدم"
            android:parentActivityName=".main_screen"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".emgnum_listview"
            android:label="أرقام الطوارئ"
            android:parentActivityName=".login_screen"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".signup_user"
            android:label="التسجيل كمستخدم"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".new_report"
            android:label="بلاغ جديد"
            android:parentActivityName=".main_screen"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".main_screen"
            android:label="الصفحة الرئيسية" />
        <activity
            android:name=".signup_medic"
            android:label="التسجيل كمسعف"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".asthma"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".airwayobstruction"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".heatstroke"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".heartattacks"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".brainattack"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".epilepsy"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".nosebleeds"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".burns"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".qucik_check"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".poisoning2"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".fractures"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".bleeds_profusely"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".Diabetes"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".Ambulatory_educationandawareness"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".Cardiopulmonary_resuscitation"
            android:label="@string/fa_name"
            android:parentActivityName=".first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".first_aid_lv"
            android:label="@string/fa_name"
            android:theme="@style/signup_theme" />
    </application>

</manifest>