<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medical_application">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstAid.explosion_act"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme"></activity>

        <activity android:name=".FirstAid.traffic_accidents" android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme">

        </activity>
        <activity android:name=".FirstAid.Explosions" />
        <activity android:name=".Reports.ReceivingReports" />
        <activity android:name=".BloodBank.AddData" />
        <activity
            android:name=".Profiles.medic_prof_edit"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".MainScreens.medic_main"
            android:label="الصفحة الرئيسية"
            android:theme="@style/first_aid" />
        <activity android:name=".MainScreens.paramedic" />
        <activity
            android:name=".Profiles.profile_edit"
            android:label=" "
            android:theme="@style/signup_theme" />
        <activity
            android:name=".MainScreens.MainActivity"
            android:label="الصفحة الرئيسية"
            android:theme="@style/first_aid" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".NearstCenter.nearst_center"
            android:label="اقرب مركز صحي" />
        <activity
            android:name=".MainScreens.sign_up"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.drowning"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".MainScreens.login_screen"
            android:theme="@style/sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BloodBank.bloodbank_recycle"
            android:label="بنك الدم"
            android:parentActivityName=".MainScreens.main_screen"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".EmerNum.emgnum_listview"
            android:label="أرقام الطوارئ"
            android:parentActivityName=".MainScreens.login_screen"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".Reports.new_report"
            android:label="بلاغ جديد"
            android:parentActivityName=".MainScreens.main_screen"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".MainScreens.main_screen"
            android:label="الصفحة الرئيسية" />
        <activity
            android:name=".FirstAid.asthma"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.airwayobstruction"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.heatstroke"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.heartattacks"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.brainattack"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.epilepsy"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.nosebleeds"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.burns"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.qucik_check"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.poisoning2"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.fractures"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.bleeds_profusely"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.Diabetes"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.Ambulatory_educationandawareness"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.Cardiopulmonary_resuscitation"
            android:label="@string/fa_name"
            android:parentActivityName=".FirstAid.first_aid_lv"
            android:theme="@style/signup_theme" />
        <activity
            android:name=".FirstAid.first_aid_lv"
            android:label="@string/fa_name"
            android:theme="@style/signup_theme" >

        </activity>
    </application>

</manifest>